* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: rgb(235, 235, 235);
}

.container {
  max-width: 40%;
  margin: 30px auto 0 auto;

  .header-one {
    background-color: rgb(236, 236, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    .header-one__h1 {
      font-weight: 800;
    }
  }
  .section {
    background-color: rgb(31, 31, 31);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    .section-one__h2 {
      color: white;
    }
    .section-one__text {
      color: white;
    }
    .buttons {
      display: flex;
      .btn {
        margin: 5px 20px 5px 0px;
        background-color: rgb(236, 236, 0);
        border: none;
        padding: 15px;
        font-weight: bold;
        cursor: pointer;
      }
      .btn:hover {
        background-color: rgb(255, 255, 0);
      }
    }
  }
  .section--two {
    background-color: white;
    .buttons {
      .btn--secondary {
        background-color: rgb(31, 31, 31);
        color: white;
      }
      .btn--secondary:hover {
        background-color: rgb(54, 54, 54);
      }
    }
  }
}
