<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Vue time</h1>
    <div id="app">
        <a :href="url">Eh</a>
    <div v-if="showBooks">
        <ul>
            <li v-for="book in FilteredBooks" @click="toggleFav(book)" :class="{fav: book.isFav}">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
                <img :src="book.img" :alt="book.title">
            </li>
        </ul>
    </div>
        <button @click="ToggleBooks">
            <span v-if="showBooks">Hide books</span>
            <span v-else>Show books</span>
        </button>
        <p v-show="showBooks">Currently showing books</p>
        <br>
        <div class="box" @mouseover="handleEvent($event,5)">mouseover</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">Position X: {{ x }} <br> Position Y: {{ y }}</div>
    </div>
    <script src="app.js"></script>
</body>
</html>