.box{
    padding:100px 0;
    width:300px;
    text-align: center;
    background-color: #ddd;
    margin:20px;
    display:inline-block;
}

li img {width:200px;}

li{
   list-style-type: none;
   text-align:center;
   border:black 2px solid;
   margin:10px 0;
}

ul{
    margin:0; 
    padding:0;
}

.fav{
    border:gold 2px solid;
}