<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hej, Vue</h1>


    <!-- 
        VIDEO 2
        Vue app, Data and template and click events-->

    <!-- <div id="app">
       <p>{{ title }} - {{ author }} - {{ age }}</p>

       <button v-on:click="age++">Gør alder større</button>
       <button v-on:click="age--">Gør alder mindre</button>

       
       <div @click="changeTitle('Oathbringer')">Skift bogtitel</div>

    </div> -->


    <!-- Conditional Rendering -->
    <div id="app">
        <div v-if="showBooks"> 
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Skjul bøger</span>
            <span v-else>Vis bøger</span>
        </button>

        <div v-show="showBooks">Viser bøger</div>
        <div v-show="!showBooks">Viser ikke bøger</div>
    </div>


    
</body>
<script src="app.js"></script>
</html>