<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hej, Vue</h1>

    <div id="app">
        <!-- attribute binding -->
        <!-- <a :href="url">Link til google</a> -->
        <div v-if="showBooks"> 
            <!-- <p>{{ title }} - {{ author }} - {{ age }}</p> -->
            <ul>
                <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author}}</p>
                </li>
            </ul>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Skjul bøger</span>
            <span v-else>Vis bøger</span>
        </button>

       
        <!-- Mouse events -->
        <!-- <br>
        
        <div class="box" @mouseover="handleEvent($event, 5)">mouse over (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">Position - {{ x }} {{ y }}</div> 
    </div>


    
</body>
<script src="app.js"></script>
</html>