* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: #ebebeb;
}

.container {
  max-width: 40%;
  margin: 30px auto 0 auto;
}
.container .header-one {
  background-color: #ecec00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}
.container .header-one .header-one__h1 {
  font-weight: 800;
}
.container .section {
  background-color: #1f1f1f;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.container .section .section-one__h2 {
  color: white;
}
.container .section .section-one__text {
  color: white;
}
.container .section .buttons {
  display: flex;
}
.container .section .buttons .btn {
  margin: 5px 20px 5px 0px;
  background-color: #ecec00;
  border: none;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}
.container .section .buttons .btn:hover {
  background-color: yellow;
}
.container .section--two {
  background-color: white;
}
.container .section--two .buttons .btn--secondary {
  background-color: #1f1f1f;
  color: white;
}
.container .section--two .buttons .btn--secondary:hover {
  background-color: #363636;
}

/*# sourceMappingURL=styles.css.map */
